*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    height: 10vh;
    width: 100%;
    background: rgb(43,52,93);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin-left: 1%;
    background-color: white;
    height: 98%;
    border-radius: 50%;
}

.header__navigation{
    flex-basis: 50%;
}

.header__navigation ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.header__navigation a:link , .header__navigation a:visited{
    text-decoration: none;
    color: antiquewhite;
}

.header__navigation a:hover{
    text-decoration: none;
    color: antiquewhite;
    border-bottom: 5px solid antiquewhite;
}

.content{
    height: 74vh;
    margin: 3vh auto;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content__other , .content__mission , .content__whoWeAre{
    width: 60%;
    height: 20%;
    margin: .6% 0;
}

.content p{
    margin-top: 1%;
}

.content__other ul{
    margin-top: 5%;
    margin-left: 30%;
}

.content__other a:link , .content__other a:visited{
    color: #429edb;
}

.footer{
    background-color:rgb(43,52,93);
    color: antiquewhite;
    width: 100%;
    height: 10vh;
    margin : auto;
    text-align: center;
}

.footer__navigation{
    width: 30%;
    height: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a:link {
    color : antiquewhite;
}

.footer a:visited{
    color:antiquewhite ;
}


/*responsive css for tablet*/
@media screen and (max-width:768px){
    
    .header__navigation{
        flex-basis:60%;
    }
}

/*responsive css for mobile small*/
@media screen and (max-width:425px){

    .header{
        font-size: 9px;
    }

    .header__navigation{
        flex-basis: 72%;
    }
    .content{
        font-size:8.5px;
    }
    .footer{
        font-size: 10px;
    }
    

}