*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    height: 10vh;
    width: 100%;
    background: rgb(43,52,93);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    margin-left: 1%;
    background-color: white;
    height: 98%;
    border-radius: 50%;
}

.header__navigation{
    flex-basis: 50%;
}

.header__navigation ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.header__navigation a:link , .header__navigation a:visited{
    text-decoration: none;
    color: antiquewhite;
}

.header__navigation a:hover{
    text-decoration: none;
    color: antiquewhite;
    border-bottom: 5px solid antiquewhite;
}

.content{
    height: 78vh;
    width: 90%;
    margin:1vh auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    
}

.content__contacts{
    width: 35%;
    height: 35%;
    margin-top: 3vh;
    order:2;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 0px 10px 2px rgba(0, 0, 0, 0.15); 
    padding: 5px;

}

.content__contacts h1{
    text-align: center;
}

.content__contacts p{
    background-color: rgba(122, 207, 228, 0.20);
    height: 30px;
    line-height: 30px;
}

.icon{
    width: 15%;
    height: 30px;
}


.content__message{

    width: 55%;
    height: 90%;
    margin-top: 3vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 3px 0px 10px 2px rgba(0, 0, 0, 0.15); 
    padding: 5px;
}

.message__text{
    height: 20%;
}

.message__text p{
    margin-top: 2%;
}

.content__message form{
    height: 77%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

input[type="text"]{
    height:9%;
    font-size:medium;
    background-color: rgba(122, 207, 228, 0.10);
    border-color: rgba(247, 247, 247, 0.1);
}

button{
    width: 100%;
    height: 15%;
    align-self: start;
    font-size: larger;
    background-color: rgb(43,52,93);
    color:antiquewhite;
    border: 0px;
    border-radius: 15px;
}

textarea{
    resize: none;
    width: 100%;
    height:40%;
    font-size:medium;
    background-color: rgba(122, 207, 228, 0.10);
    border-color: rgba(247, 247, 247, 0.1);  
}

.footer{
    background-color:rgb(43,52,93);
    color: antiquewhite;
    width: 100%;
    height: 10vh;
    margin : auto;
    text-align: center;
}

.footer__navigation{
    width: 30%;
    height: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a:link {
    color : antiquewhite;
}

.footer a:visited{
    color:antiquewhite ;
}


/*responsive css for tablet*/
@media screen and (max-width : 768px) {
    
    .header__navigation{
        flex-basis:60%;
    }
    
    .content__message{
        height: 70%;
    }
}

/*responsive css for mobile small*/
@media screen and (max-width:425px){
    .header{
        font-size: 9px;
    }

    .header__navigation{
        flex-basis: 72%;
    }
    .content{
        width: 99%;
    }

    .content__contacts , .content__message{
        font-size: 11px;
    }

    .message__text{
        height: 33%;
    }

    .content__message form{
        height: 64%;
    }

    input[type="text"] , textarea{
        font-size: 11px;
    }

    .footer{
        font-size: 10px;
    }

}