*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    height: 10vh;
    width: 100%;
    position: sticky;
    top:0;
    left:0;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(43,52,93);
}

.header__logo{
    margin-left: 1%;
    background-color: white;
    height: 98%;
    border-radius: 50%;
}

.header__navigation{
    flex-basis: 50%;
}

.header__navigation ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.header__navigation a:link , .header__navigation a:visited{
    text-decoration: none;
    color: antiquewhite;
}

.header__navigation a:hover , .navigation--active{
    text-decoration: none;
    color: antiquewhite;
    border-bottom: 5px solid antiquewhite;
}

.content{
    width: 70%;
    margin: 1vh auto;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;

}

.content__newInstance{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.newInstance__create , .newInstance__join{
    width: 40%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.content__newInstance form{
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    
}

.newInstance__create form{
    height: 83%;
}

.content__newInstance input{
    height:30px;
    font-size:medium;
    background-color: rgba(122, 207, 228, 0.10);
    border-color: rgba(247, 247, 247, 0.1);
}

.content__newInstance button{
    width: 100%;
    height: 30px;
    align-self: start;
    font-size: larger;
    background-color: rgb(43,52,93);
    color:antiquewhite;
    border: 0px;
    border-radius: 10px;
}

.content__newInstance select{
    height:25px;
    font-size:medium;
    background-color: rgba(122, 207, 228, 0.10);
    border-color: rgba(247, 247, 247, 0.1);
}


select{
    height:25px;
    font-size:medium;
    background-color: rgba(122, 207, 228, 0.10);
    border-color: rgba(247, 247, 247, 0.1);
}

.content__tables{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-self: center;
    padding: 10px;
    box-shadow: 2px 12px 19px 5px rgba(0, 0, 0, 0.15);
    border-radius:10px;    
}

.content__tables h1{
    background-color: white;
    width: 100%;
}

.tables__yourLgs , .tables__generalLgs , .tables__privateLgs{
    background-color: rgba(122, 207, 228, 0.13);
    width: 100%;
    height: 30vh;
    margin-bottom: 4vh;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}

table{
    width: 100%;
    margin-top: 2vh;
    text-align: left;
    border-spacing: 20px;
}

table button , table button:hover{
    width:50%;
    height: 20px;
    background-color: rgba(255, 3, 49, .70);
    color:antiquewhite;
    border: 0px;
    border-radius: 10px;
}

table button:hover{
    background-color: rgba(255, 3, 49, 1);
}
    

.footer{
    background-color:rgb(43,52,93);
    color: antiquewhite;
    width: 100%;
    height: 10vh;
    margin : auto;
    text-align: center;
}

.footer__navigation{
    width: 30%;
    height: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a:link {
    color : antiquewhite;
}

.footer a:visited{
    color:antiquewhite ;
}



/*responsive css for tablet*/
@media screen and (max-width:768px){
    
    .header__navigation{
        flex-basis:60%;
    }

    .newInstance__join form{
        height: 53%;
    }

    .newInstance__create form{
        height: 71%;
    }
    table button, table button:hover{
        width: 80%;
    }

}


/*responsive css for mobile small , medium large*/
@media screen and (max-width:570px){

    .header{
        font-size: 9px;
    }

    .header__navigation{
        flex-basis: 72%;
    }

    .content{
        width: 90%;
    }

    .content__newInstance{
        font-size: 11.08px; 
    }

    .content__newInstance input , .content__newInstance select{
        height: 25px;
        font-size: small;
    }

    .newInstance__join{
        height: 85%;
    }

    .content__tables{
        font-size: 9px;
    }    

    table button , table button:hover{
        width: 95%;
    }
    .tables__generalLgs div , .tables__privateLgs div , .tables__yourLgs div{
        overflow-y: scroll;
    }
    
    .footer{
        font-size: 10px;
    }
    

}

