*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    height: 10vh;
    width: 100%;
    position: sticky;
    top:0;
    left:0;
    z-index: 3;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(43,52,93);
}

.header__logo{
    margin-left: 1%;
    background-color: white;
    height: 98%;
    border-radius: 50%;
}

.header__navigation{
    flex-basis: 50%;
}

.header__navigation ul{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}

.header__navigation a:link , .header__navigation a:visited{
    text-decoration: none;
    color: antiquewhite;
}

.header__navigation a:hover , .navigation--active{
    text-decoration: none;
    color: antiquewhite;
    border-bottom: 5px solid antiquewhite;
}

/*Player options*/
.player__details{
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height:100%;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.details__center{

    width: 400px;
    height: 220px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: white;
    box-shadow: 10px 0px 40px 1px rgba(0, 0, 0, 0.15);

}

.details__top{
    height: 57%;
    width: 99%;
    margin-top: 5px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.details__top img{  
    width: 100px;
    height: auto;
}

.details__top p{
    width: 60%;
    font-size: 20px;
}

.details__sell{
    height: 25%;
    margin-top: 14px;
    width: 99%;
    font-size: larger;
    border: 0px;
    border-radius: 15px;
    background-color: #429edb;
    color: antiquewhite;
}


.content{
    width: 80%;
    margin: 5vh auto;
    display: flex;
    flex-flow:column nowrap;
    justify-content: space-between;
    align-items: center;
}

.content__pitch{
    width: 60%;
    height: 72vh;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.pitch__lineup{
    height: 90%;
    width: 100%;
    background: url(../static/img/pitch__resized.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 10px 0px 40px 1px rgba(0, 0, 0, 0.15);
}

.lineup__row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
    height: 22%;
}

.player{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 100%;
    width: 16%;
}

.player img{
    width: auto;
    height: 60%;
    margin: 0 auto;
}

.player :nth-child(2), .player :nth-child(3){
    height:20%;
    width: 100%;
    color:antiquewhite;
    overflow-wrap:inherit;
    text-align: center;
}

.player :nth-child(2){
    background-color: rgba(87, 13, 62, 0.9);
}

.player :nth-child(3){
    background-color: rgb(128, 221, 174);
    color: rgba(87, 13, 62, 0.9); 
    border-radius: 0px 0px 4px 4px;
}


.content__options{
    width: 70%;
    height: 25vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.options__transferInfo , .options__playerSearch{
    height: 100%;
    background-color: white;
    box-shadow: 10px 0px 40px 1px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.options__transferInfo{
    width: 25%;
    height: 97%;
}
.options__playerSearch{
    width: 67%;
}

.options__transferInfo table{
    font-size: 13px;
    border-spacing: 5px;
    box-shadow: 10px 0px 40px 1px rgba(0, 0, 0, 0.15);
}


.options__transferInfo button{
    height: 30%;
    width: 99%;
    margin-top: 4px;
    font-size: larger;
    border: 0px;
    border-radius: 15px;
    background-color: rgb(43,52,93);
    color: antiquewhite;
}

.playerSearch__selectors , .playerSearch__price{
    margin-top:5px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.playerSearch__selectors select{
    width: 45%;
    height: 25px;
    font-size:medium;
    background-color: rgba(255, 255, 255, 1);
    border-color: white;
    box-shadow: 2px 0px 7px 3px rgba(0, 0, 0, 0.15);
}

.playerSearch__price input{
    width: 80%;
}

.playerSearch__price label{
    width: 9%;
    font-size:medium;
}


.playerSearch__result{
    width: 100%;
    overflow-y:scroll;
}

.playerSearch__result table{
    width: 100%;
    text-align: left;
    font-size: 13px;
    border-spacing: 5px;
    box-shadow: 10px 0px 40px 1px rgba(0, 0, 0, 0.15);
}

.playerSearch__result table tr  {
    height: 30px;
    padding:5px ;
    border-color: white;
    box-shadow: 2px 0px 7px 3px rgba(0, 0, 0, 0.15);
}


.footer{
    background-color:rgb(43,52,93);
    color: antiquewhite;
    width: 100%;
    height: 10vh;
    margin : auto;
    text-align: center;
}

.footer__navigation{
    width: 30%;
    height: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer a:link {
    color : antiquewhite;
}

.footer a:visited{
    color:antiquewhite ;
}



/*responsive css for tablet*/
@media screen and (max-width:768px){
    
    .header__navigation{
        flex-basis:60%;
    }

    .content__pitch{
        width: 63%;
        height: 61vh;
    }

    .player{
        font-size: 11px;
    }

    .content__options{
        width: 99%;
    }
    .options__transferInfo button{
        height: 27%;
    }
}

/*responsive css for mobile small*/
@media screen and (max-width:425px){

    .header{
        font-size: 9px;
    }

    .header__navigation{
        flex-basis: 72%;
    }

    .content__pitch{
        width: 100%;
    }

    .content__options{
        height: 70vh;
        flex-flow: column nowrap;
    }

    .options__transferInfo{
        width: 98%;
    }

    .options__playerSearch{
        width: 98%;
        margin-top: 10px;
    }

    .playerSearch__price label {
        width: 14%;
    }

    .player{
        font-size: 8px;
    }

    .footer{
        font-size: 10px;
    }
    
}